* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  body, html {
    padding: 3px 3px 3px 3px;

    background-color: #D8DBE2;

    font-family: Verdana, sans-serif;
    font-size: 11pt;
    text-align: center;
  }

  main {
    width: 70%;

  }

  header {
    height: 99px;
    width: 100%;

    background-color: #F5F6F7;
  }

  header span {
    margin: 15px 0px 0px 50px;

    font-size: 180%;
    font-weight: bold;
  }
  .article img { max-width: 500px; }